<html>
	<head>
		<title>Sample Web Form</title>
	</head>

	<body>
		<h1>Fill This Out</h1>

		<form action="/hello/" method="POST">
			A greeting: <input type="text" name="greeting">
			</br>
			Your name: <input type="text" name="name">
			</br>
			<input type="submit">
		</form>
	</body>
</html>
